<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<html>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }


</script>
<head>
    <title>Wordler!</title>
</head>
<body style="background-color:mistyrose;font-family:Arial,sans-serif">
<div>
    <div class="font-size-3">
        <table>
            <tr>
                <td>
                    <form>

                        <input type="hidden" autocomplete="false"/>
                        <input type="hidden" name="pin" value=""/>
                        <input type="hidden" name="letters_in_word" value="3"/>
                        <input class="font-size-3 button-10" type="submit" value="New 3 Game"/>


                    </form>
                </td>
                <td>
                    <form>

                        <input type="hidden" autocomplete="false"/>
                        <input type="hidden" name="pin" value=""/>
                        <input type="hidden" name="letters_in_word" value="5"/>
                        <input class="font-size-3 button-10" type="submit" value="New 5 Game"/>

                    </form>
                </td>
                <td>
                    <form>

                        <input type="hidden" autocomplete="false"/>
                        <input type="hidden" name="pin" value=""/>
                        <input type="hidden" name="letters_in_word" value="7"/>
                        <input class="font-size-3 button-10" type="submit" value="New 7 Game"/>

                    </form>
                </td>
            </tr>
        </table>
        <br>
    <div class="font-size-5">
        <table>
            <tr>
                {% for letter, col_code in zip("QWERTYUIOP",top_row) %}
                {% set b_colour = {'0': 'black', '1': 'yellow', '2': 'green', '9': 'LightGray'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                <td style="background-color:{{b_colour}};color:{{f_colour}};height:clamp(18px, 6vw, 54px);width:clamp(18px, 6vw, 54px)"
                    align="center">
                    {{letter}}
                </td>
                {% endfor %}
            </tr>
            <tr>
                {% for letter, col_code in zip("ASDFGHJKL",second_row) %}
                {% set b_colour = {'0': 'black', '1': 'yellow', '2': 'green', '9': 'LightGray'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                <td style="background-color:{{b_colour}};color:{{f_colour}};height:clamp(18px, 6vw, 54px);width:clamp(18px, 6vw, 54px)"
                    align="center">
                    {{letter}}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td></td>
                {% for letter, col_code in zip("ZXCVBNM",third_row) %}
                {% set b_colour = {'0': 'black', '1': 'yellow', '2': 'green', '9': 'LightGray'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                <td style="background-color:{{b_colour}};color:{{f_colour}};height:clamp(18px, 6vw, 54px);width:clamp(18px, 6vw, 54px)"
                    align="center">
                    {{letter}}
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <br>

    <form action="{{url}}" method="POST" autocomplete="off">
        <div class="font-size-4 container">
            <input type="hidden" autocomplete="false"/>
            <label>Guess<input class="font-size-4 margin-left" type="text" name="guess" autofocus
                               placeholder="Enter {{letters_in_word}} Letter Word"/></label>
            <input type="hidden" name="letters_in_word" value={{letters_in_word}}>
            <input type="hidden" name="words" value={{words}}>
            <input type="hidden" name="pin" value={{pin}}>
        </div>
    </form>

    <div class="my-blue-paragraph font-size-3">
        {% for m in message %}
        <p>{{m}}</p>
        {% endfor %}
    </div>

    <div class="font-size-10">
        <table>
            {% for key, value in words_and_scores.items() %}
            <tr>
                {% for letter, col_code in zip(key,value) %}
                {% set b_colour = {'0': 'black', '1': 'yellow', '2': 'green'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white'}[col_code] %}
                <td style="background-color:{{b_colour}};color:{{f_colour}};height:clamp(36px, 12vw, 108px);width:clamp(36px, 12vw, 108px)"
                    align="center">
                    {{letter}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>




        <br><br>
<!--        <div>-->
<!--            <p>Or</p>-->
<!--        </div>-->
        <form>

            <input type="hidden" autocomplete="false"/>
            <div class="container">
                <input type="hidden" name="letters_in_word" value="5"/>
                <label>Reset from PIN:<input onClick="this.select();" class="font-size-3 margin-left" type="text"
                                             name="pin" value="{{pin}}"/></label>
            </div>


        </form>

    </div>
</div>
</body>

</html>