<!DOCTYPE html>
<html>
    <script>

    </script>
    <head>
        <title>Wordler!</title>
    </head>
    <body>

        <table style="font-family: Arial, sans-serif;font-size: clamp(16px, 5vw, 70px);max-width:500px;max-height:150px">
            <tr style="max-height:50px">
                {% for letter, col_code in zip("QWERTYUIOP",top_row) %}
                {% set b_colour = {'0': 'black', '1': 'yellow', '2': 'green', '9': 'grey'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                    <td style="background-color:{{b_colour}};color:{{f_colour}};height:6vw;width:6vw" align="center">{{letter}}</td>
                {% endfor %}
            </tr>
            <tr style="max-height:50px">
                {% for letter, col_code in zip("ASDFGHJKL",second_row) %}
                {% set b_colour = {'0': 'black', '1': 'yellow', '2': 'green', '9': 'grey'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                    <td style="background-color:{{b_colour}};color:{{f_colour}};height:6vw;width:6vw" align="center">{{letter}}</td>
                {% endfor %}
            </tr>
            <tr style="max-height:50px">
                {% for letter, col_code in zip("ZXCVBNM",third_row) %}
                {% set b_colour = {'0': 'black', '1': 'yellow', '2': 'green', '9': 'grey'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                    <td style="background-color:{{b_colour}};color:{{f_colour}};height:6vw;width:6vw" align="center">{{letter}}</td>
                {% endfor %}
            </tr>
        </table>
        <br><br>
        <form action="{{url}}" method="POST" autocomplete="off">
            <input type="hidden" autocomplete="false"/>
            <label style="font-family:Arial,sans-serif;font-size: clamp(16px, 4vw, 40px)">Guess <input style="font-family:Arial,sans-serif;font-size: clamp(16px, 4vw, 40px);max-width:400px" type="text" name="guess" autofocus/></label>
            <input type="hidden" name="words" value={{words}}>
            <input type="hidden" name="pin" value={{pin}}>
            <input type="hidden" value="submit"/>
        </form>

        <p style="font-family:Arial,sans-serif;font-size: 3.0vw">{{message}}</p>

        <table style="font-family:Arial,sans-serif;font-size: clamp(16px, 10vw, 75px);max-width:500px">
            {% for key, value in words_and_scores.items() %}
            <tr style="max-height:100px">
                {% for letter, col_code in zip(key,value) %}
                {% set b_colour = {'0': 'black', '1': 'yellow', '2': 'green'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white'}[col_code] %}
                    <td style="background-color:{{b_colour}};color:{{f_colour}};height:12vw;width:12vw" align="center">{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
<!--        <form action="{{url_for('new_game')}}">-->
<!--            <input style="font-size: 4.0vh" type="submit" value="Reset" />-->
<!--        </form>-->
        <br><br>
        <form action="{{url_for('start', pin=pin)}}" autocomplete="off">
            <input type="hidden" autocomplete="false"/>
            <label style="font-family:Arial,sans-serif;font-size: clamp(16px, 4vw, 40px)">PIN <input style="font-family:Arial,sans-serif;font-size: clamp(16px, 4vw, 40px);max-width:200px" type="text" name="pin" value="{{pin}}"/></label>
            <input style="font-family:Arial,sans-serif;font-size: clamp(16px, 4vw, 40px)" type="submit" value="Reset" />
        </form>
    </body>

</html>