<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<html>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<head>
    <title>Wordler!</title>
</head>
<body style="background-color:whitesmoke;font-family:Arial,sans-serif">
<div class="container">
    <div class="centre">
        <table>
            <tr>
                <td>
                    <form>

                        <input type="hidden" autocomplete="false"/>
                        <input type="hidden" name="pin" value=""/>
                        <input type="hidden" name="letters_in_word" value="3"/>
                        <input class="font-size-2-5 button-10" type="submit" value="New 3 Game"/>


                    </form>
                </td>
                <td>
                    <form>

                        <input type="hidden" autocomplete="false"/>
                        <input type="hidden" name="pin" value=""/>
                        <input type="hidden" name="letters_in_word" value="5"/>
                        <input class="font-size-2-5 button-10" type="submit" value="New 5 Game"/>

                    </form>
                </td>
                <td>
                    <form>

                        <input type="hidden" autocomplete="false"/>
                        <input type="hidden" name="pin" value=""/>
                        <input type="hidden" name="letters_in_word" value="7"/>
                        <input class="font-size-2-5 button-10" type="submit" value="New 7 Game"/>

                    </form>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="font-size-3 centre">
        <table>
            <tr>
                {% for letter, col_code in zip("QWERTYUIOP",top_row) %}
                {% set b_colour = {'0': 'black', '1': 'gold', '2': 'green', '9': 'LightGray'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                <td style="background-color:{{b_colour}};color:{{f_colour}};height:clamp(21px, 7vw, 63px);width:clamp(21px, 7vw, 63px)"
                    align="center">
                    <b>{{letter}}</b>
                </td>
                {% endfor %}
            </tr>
            <tr>
                {% for letter, col_code in zip("ASDFGHJKL",second_row) %}
                {% set b_colour = {'0': 'black', '1': 'gold', '2': 'green', '9': 'LightGray'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                <td style="background-color:{{b_colour}};color:{{f_colour}};height:clamp(21px, 7vw, 63px);width:clamp(21px, 7vw, 63px)"
                    align="center">
                    <b>{{letter}}</b>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td></td>
                {% for letter, col_code in zip("ZXCVBNM",third_row) %}
                {% set b_colour = {'0': 'black', '1': 'gold', '2': 'green', '9': 'LightGray'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white', '9': 'black'}[col_code] %}
                <td style="background-color:{{b_colour}};color:{{f_colour}};height:clamp(21px, 7vw, 63px);width:clamp(21px, 7vw, 63px)"
                    align="center">
                    <b>{{letter}}</b>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <br>
    <div class="font-size-2-5 centre">
        <form action="{{url}}" method="POST" autocomplete="off">
<!--            <div class="font-size-4 container-for-inputs centre">-->
            <div class="container-for-inputs">
                <input type="hidden" autocomplete="false"/>
                <label>Guess<input class="font-size-2-5 margin-left" type="text" name="guess" autofocus
                                   placeholder="Enter {{letters_in_word}} Letter Word"/></label>
                <input type="hidden" name="letters_in_word" value={{letters_in_word}}>
                <input type="hidden" name="words" value={{words}}>
                <input type="hidden" name="pin" value={{pin}}>
            </div>
        </form>
    </div>

<br>
    <div class="font-size-6 centre">
        <table>
            {% for key, value in words_and_scores.items() %}
            <tr>
                {% for letter, col_code in zip(key,value) %}
                {% set b_colour = {'0': 'black', '1': 'gold', '2': 'green'}[col_code] %}
                {% set f_colour = {'0': 'white', '1': 'black', '2': 'white'}[col_code] %}
                <td style="background-color:{{b_colour}};color:{{f_colour}};height:clamp(39px, 13vw, 117px);width:clamp(39px, 13vw, 117px)"
                    align="center">
                    <b>{{letter}}</b>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="my-blue-paragraph font-size-1-5 centre">
        {% for m in message %}
        <p>{{m}}</p>
        {% endfor %}
    </div>
    <br><br>

    <div class="font-size-2 centre">
        <form>

            <input type="hidden" autocomplete="false"/>
            <div class="container-for-inputs">
                <input type="hidden" name="letters_in_word" value="5"/>
                <label>Reset from PIN:<input onClick="this.select();" class="font-size-2 margin-left" type="number"
                                             name="pin" value="{{pin}}"/></label>
            </div>


        </form>

    </div>
</div>
</body>

</html>